main {
    display: flex;
    height: 100%;
    width: 100%;


    section {
        width: 300px;
        background-color: rebeccapurple;
        height: 100%;

        div {
            // Spacing 10 px between each element
            margin: 10px;
            cursor: pointer;
        }

        div:last-child {
            // Push the last element to the bottom
            margin-top: auto;
        }
    }
    
    span {
        height: 100%;
        width: calc(100% - 300px);
    }
}