main {
    div {
        display: flex;
        flex-direction: row;

        i.chevron {
            cursor: pointer;
            width: 20px;
            height: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        i.folder {
            margin-right: 5px;
        }
    }

    section {
        margin-left: 20px;
    }
}